body {
    font-family: 'Helvetica', sans-serif;
    background-color: #28282B; /* Initial background color */
    color: black; /* Initial text color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    background-color: white; /* Dark background for the container */
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#file-selection,
#quiz-controls {
    margin-bottom: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:active {
    background-color: #0056b3;
}

#question-section {
    margin-bottom: 20px;
}

#answer-input {
    font-size: 16px;
    padding: 10px;
    width: 95%;
    margin: 5px 0;
    background-color: #FAF9F6;
}

#asked-words {
    margin-top: 20px;

    background-color: white; /* Initial background color for asked words */
}

#asked-text {
    border: 3px solid #007bff; /* Adjust the border color and size */
    overflow: hidden; /* This might prevent clipping issues */
    width: 97%;
    height: 200px;
    padding: 10px;
    background-color: #ffffff;
    overflow-y: auto;
}

.correct {
    color: #009200;
}

.incorrect {
    color: #960018;
}
